body[b-kspnejmf8h] {
    margin:0;
}

.v[b-kspnejmf8h]{
    padding-top : 2%;
    padding-bottom:5%;

}

.cont[b-kspnejmf8h]{
   
    background-color:lightsteelblue;
    padding:2%

}

.k[b-kspnejmf8h]{
 display: flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
}
