body {
}

.cont{
    display:flex;
    gap:5%;
    flex-direction:column;

}

.j{
    padding-top: 2%;
}

button{
    background-color:transparent;
    border-radius: 10px;
    border-color:coral;
}
 