<h3>Modificar</h3>

@page "/Test/{Correo}"


<h3>Modificar Cuenta</h3>

@if (!string.IsNullOrEmpty(Correo))
{
    <p>Correo: @Correo</p>

    <!-- Campos de modificación -->
    <p>Modificar nombre:</p>
    <input type="text" @bind="Nombre" />

    <p>Modificar apellido:</p>
    <input type="text" @bind="Apellido" />

    <p>Modificar contraseña:</p>
    <input type="password" @bind="Contraseña" />

    <button @onclick="GuardarCambios">Guardar cambios</button>
}
else
{
    <p>Correo no válido.</p>
}
