<h3>Modificar</h3>

@page "/Test"

<div>
<div>
    <p>Nombre</p>
    <input type="text" placeholder="name" @bind="name" />
    <p>E-mail</p>
    <input type="text" placeholder="a@gmail.com" @bind="email"/>
</div>
<div>
    <p>Apellido</p>
    <input type="text" placeholder="apellido" @bind="apellido" />
    <p>Contraseña</p>
    <input type="password" placeholder="*****" @bind="contraseña" />
</div>
<div class="j">
    <button @onclick= "() => modifyUsuario()">MODIFICAR</button>
</div>
<div>
        <ul>

            @foreach (var item in listaCuentas)
            {
                <li>
                    @item.nombre @item.apellido (@item.correo)

                </li>
            }

        </ul>

</div>

</div> 
