body[b-mfdeq5xcuo] {
}

.cont[b-mfdeq5xcuo]{
    display:flex;
    gap:5%;
    flex-direction:column;

}

.j[b-mfdeq5xcuo]{
    padding-top: 2%;
}

button[b-mfdeq5xcuo]{
    background-color:transparent;
    border-radius: 10px;
    border-color:coral;
}
 