body[b-pyrsqeq8ci] {
}

.cont[b-pyrsqeq8ci]{
    display:flex;
    gap:5%;
    flex-direction:column;

}

.j[b-pyrsqeq8ci]{
    padding-top: 2%;
}

button[b-pyrsqeq8ci]{
    background-color:transparent;
    border-radius: 10px;
    border-color:coral;
}
 