<h3>Cuenta</h3>

@page "/Cuenta" 

<div class="cont">
    <div >
        <p>Nombre</p>
        <input type="text" placeholder="name"  @bind="nombre"/>
        <p>E-mail</p>
        <input type="text" @bind="correo"/>
    </div>
    <div>
        <p>Apellido</p>
        <input type="text" placeholder="apellido" @bind="apellido"/>
        <p>Contraseña</p>
        <input type="password" placeholder="*****" @bind="contraseña"/>
    </div>
    <div class="j">
        <button @onclick="registrar">REGISTRARSE</button>
    </div>

    <ul>

        @foreach (var item in listaCuentas) {
            <li>
                @item.nombre @item.apellido (@item.correo)
                <button @onclick="() => eliminarUsuario(item)">ELIMINAR</button>
            </li>
        }

    </ul>
</div>
